<html>
  <head>
    <title>MINDMATTERS Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
     {% if messages %}
      <ul>
       {% for message in messages %}
         <li>{{ message }} </li>
       {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <h1>LOGIN</h1>
    <form action="" method="POST" name="Login">
      {{ form.hidden_tag() }}
      <p>Enter your prefered user name:</p>
      <p>{{ form.UN }}</p>
      {%for error in form.UN.errors%}
        <span style = "color : red">{{error}}</span>
      {% endfor%}
      <p>Enter your prefered password:</p>
      <p>{{ form.pswd }}</p>
      {%for error in form.pswd.errors%}
        <span style = "color : red">{{error}}</span>
      {% endfor%}
      <p>Remember Me</p>
      <p>{{form.remember}}</p>

    <p><input type="submit" value="Login!"></p>
  </form>
  <br>
  <p><a href="{{url_for('Signup')}}">Sign up</a></p>
  <p><a href="{{url_for('HomePage')}}">Home</a></p>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
