<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MINDMATTERS</title>
    <style>
    .obr{
        overflow: hidden;
        float:center;
        display: block;
      }
      .ob{
        width: 15%;
        float: left;
        display : block;
        text-align: center;
        padding: 8px;
        margin: 8px;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <h1 style= "text-align : center;" > WELCOME</h1>
    <div width = "100vw" id = "navbar" "navbar" style = "border-bottom: 2px solid black;">
      <ul class ="obr"style = "list-style-type: none;">
        <a style = " text-decoration :none; color: black;" href = "dashboard" ><li class = "ob">Home/Search</li></a>
        <a  href = "messages"><li class = "ob">Messages</li></a>
        <a style = " text-decoration :none; color: black;" href = "progress"><li class = "ob">Progress</li></a>
        <a style = " text-decoration :none; color: black;" href = "diary"><li class = "ob">Diary</li></a>
        <a style = " text-decoration :none; color: black;" href = "profile"><li class = "ob">Profile and settings</li></a>
        <a style = " text-decoration :none; color: black;" href= "{{url_for('logout')}}"><li class ="ob">Logout</li></a>
      </ul>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
