<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MINDMATTERS</title>
    <style>
    .obr{
        overflow: hidden;
        float:center;
        display: block;
      }
      .ob{
        width: 15%;
        float: left;
        display : block;
        text-align: center;
        padding: 8px;
        margin: 8px;
      }
      .day{
        width: 13%;
        float: left;
        display : block;
        text-align: center;
        padding: 8px;
        margin: 8px;
      }
      .mood{
        width: 18%;
        float: left;
        display : block;
        text-align: center;
        padding: 8px;
        margin: 8px;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
     {% if messages %}
      <ul>
       {% for message in messages %}
         <li>{{ message }} </li>
       {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <h1 style= "text-align : center;" > Track your progress</h1>
    <div width = "100vw" id = "navbar" style = "border-bottom: 2px solid black;" >
      <ul class ="obr"style = "list-style-type: none;">
        <a style = " text-decoration :none; color: black;" href = "dashboard" ><li class = "ob">Home/Search</li></a>
        <a style = " text-decoration :none; color: black;" href = "messages"><li class = "ob">Messages</li></a>
        <a href = "progress"><li class = "ob">Progress</li></a>
        <a style = " text-decoration :none; color: black;" href = "diary"><li class = "ob">Diary</li></a>
        <a style = " text-decoration :none; color: black;" href = "profile"><li class = "ob">Profile and settings</li></a>
        <a style = " text-decoration :none; color: black;" href= "{{url_for('logout')}}"><li class ="ob">Logout</li></a>
      </ul>
    </div>

    <br><br>
    <br><br>

    <div width = "100vw" id = "nav" >
      <form id = "late" action="" method="POST" name="form2" value = "form2">
        {{ form2.hidden_tag() }}
        <div class ="obr"style = "list-style-type: none;">
            {{form2.Mood(onclick = "myFunction()")}}
        </div>
      </form>
    </div>

    <br><br>
    <br><br>
    <h2 style= "text-align : center;" >Day of the week</h2>
    <br>
    <div class = "obr" >
      {% if day == 0 %}
        <li style = "background-color:powderblue; text-decoration :none; color: white;" class = "day">Monday</li>
        <li class = "day">Tuesday</li>
        <li class = "day">Wednesday</li>
        <li class = "day">Thursday</li>
        <li class = "day">Friday</li>
        <li class = "day">Saturday</li>
        <li class = "day">Sunday</li>
      {% elif day == 1 %}
        <li class = "day">Monday</li>
        <li style = "background-color:powderblue; text-decoration :none; color: white;" class = "day">Tuesday</li>
        <li class = "day">Wednesday</li>
        <li class = "day">Thursday</li>
        <li class = "day">Friday</li>
        <li class = "day">Saturday</li>
        <li class = "day">Sunday</li>
      {% elif day == 2 %}
        <li class = "day">Monday</li>
        <li class = "day">Tuesday</li>
        <li style = "background-color:powderblue; text-decoration :none; color: white;" class = "day">Wednesday</li>
        <li class = "day">Thursday</li>
        <li class = "day">Friday</li>
        <li class = "day">Saturday</li>
        <li class = "day">Sunday</li>
      {% elif day == 3 %}
        <li class = "day">Monday</li>
        <li class = "day">Tuesday</li>
        <li class = "day">Wednesday</li>
        <li style = "background-color:powderblue; text-decoration :none; color: white;" class = "day">Thursday</li>
        <li class = "day">Friday</li>
        <li class = "day">Saturday</li>
        <li class = "day">Sunday</li>
      {% elif day == 4 %}
        <li class = "day">Monday</li>
        <li class = "day">Tuesday</li>
        <li class = "day">Wednesday</li>
        <li class = "day">Thursday</li>
        <li style = "background-color:powderblue; text-decoration :none; color: white;" class = "day">Friday</li>
        <li class = "day">Saturday</li>
        <li class = "day">Sunday</li>
      {% elif day == 5%}
        <li class = "day">Monday</li>
        <li class = "day">Tuesday</li>
        <li class = "day">Wednesday</li>
        <li class = "day">Thursday</li>
        <li class = "day">Friday</li>
        <li style = "background-color:powderblue; text-decoration :none; color: white;" class = "day">Saturday</li>
        <li class = "day">Sunday</li>
      {% else%}
        <li class = "day">Monday</li>
        <li class = "day">Tuesday</li>
        <li class = "day">Wednesday</li>
        <li class = "day">Thursday</li>
        <li class = "day">Friday</li>
        <li class = "day">Saturday</li>
        <li style = "background-color:powderblue; text-decoration :none; color: white;" class = "day">Sunday</li>
      {%endif%}
    </div>

    <div>
      <form action="" method="POST" name="form" value = "form">
        {{ form.hidden_tag() }}
        <br>
        <h2 >Tell us more about you</h2>
        <br><br>
        <p> What medicine are you taking:</p>
          <p>{{ form.Drugname }}</p>
        <p> How many times a day (Put an integer) :</p>
        <p>{{ form.Times }}</p>
        {%for error in form.Times.errors%}
          <p style = "color : red">{{error}}</p>
        {% endfor%}
        <p><input type="submit" value="Submit it!!!!!!"></p>
      </form>
    </div>

    <script>
    function myFunction() {
      var x = document.getElementById('nav')
      x.style.display = "none";
      document.getElementById("late").setAttribute('method', 'post');
      document.getElementById("late").submit();

    }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
